// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');



// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "Game";
.background-rooms {
    padding: 30px;
    background-color:#B8B8B8;
}

.background-room {
    text-align: center;
    i {
        margin: 10px 0px;
        font-size: 125px;
    }
    background-color: #707070;
}
.room-name-li {
    width: 240px;
    margin-left: -15px;
    margin-bottom: 0px;
    padding: 5px 10px;
    background-color:#615E5D;
}
.rooms-body{
    text-align: center;
    background-color: #B8B8B8;
i {
 color: black;
    font-size:80px;
}
}
.page-title {
h1 {
    font-size:60px;
    color:#F5E1C4;
}
}
.school-img {
    padding-top: 125px;
    margin:0 auto;
    display:block;
}
.title-about-us {
    font-size: 35px;
    color: #DFD3C2;
    display: block;
}
.text-about-us {
    margin-bottom: 50px;
    font-size: 20px;
    color:#DFD3C2;
    display: inline-block;
}
.person-about-img {
    img {
        padding-top:20px;
        display: block;
        margin: 0px auto;
    }
    b {
        line-height: 1;
        display: block;
        font-size:23px;
    }
    p {
        margin-bottom: 5px;
        padding: 0px 60px;
    }
    .vl {
        border-top: 1px solid;
        margin:10px 40px;
    }
    .round-skills {
        background-color: aliceblue;
        padding: 20px;
        margin:0 5px;
        display: inline-block;
        border-radius: 45px;
    }
    border-radius: 0px 50px 0px 50px;
    display: inline-block;
    background-color: #B7B7B7;
    width: 300px;
    text-align: center;
    height: 330px;
}
.about-us-bolletjes {
    position: absolute;
    width: 166%;
    left: -380px;
    top: -405px;
}
.oblique-background {
    position: absolute;
    transform: skewY(-10deg);
    width: 100%;
    height: 100%;
    background-color: #727272;
    left: 0;
    top: 540px;
    z-index: -10;
}
.about-us {
    background-color:#727272;
}
.gamerule-bolletjes {
    position: absolute;
    width: 168%;
    left: -390px;
    top: -405px;
}

.gamerule {
    .title {
        background-color:#2B2929;
        border-radius: 0px 19px 0px 0px;
        h1 {
            font-size: 30px;
            font-weight: bold;
            color: white;
            padding: 10px 40px;
            margin-bottom: 0px;
        }
    }
    .text {
        .liberal {
            margin-left: 30px;
        }
        margin-bottom:95px!important;
        background-color:#727272;
        border-radius: 0px 0px 0px 52px;
        display: table-cell;
        p {
            padding: 30px;
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .warp-chat {
    width: 50%;
    }
    .chat {
             width: 662px!important;
    }
    .send-message {
        width: 662px!important;
    }
    .btn-send-button {
        margin-top: -20px!important;
    }
    .start-game {
        width: 962px!important;
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .chat {
        width: 422px !important;
    }
    .send-message {
        width: 422px !important;
    }
    .start-game {
        width: 722px !important;
    }
}


// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .show-players {
        width: 538px!important;
        max-width: 538px!important;
        min-height: 200px!important;
        max-height: 200px!important;
    }
    .players-in-lobby {
        width: 538px!important;
        max-width: 538px!important;
    }
    .chat {
        width: 538px !important;
    }
    .send-message {
        width: 538px !important;
    }
    .start-game {
        width: 538px !important;
    }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {

}




