* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #505050;
}
.collapse {
    padding: 0px 20px;
}
.navbar-logo img {
    width: 160px;
}
.nav-link {
    padding: 20px 0px;
}
.navbar-brand {
    padding: 0px;
}
.navbar{
    padding: 0px;
    box-shadow: 0 2px 8px -2px rgba(0,0,0,.2);


}

.bg-custom{
    background-color: #323232;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark:hover .navbar-nav .nav-link {
    color: white;
}

.nav-item:hover{
    background-color: #707070;
}

.nav-item{
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;;
    font-size: 0.9rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-item:hover{
    text-decoration: none;
}

.nav-item:active{
    text-decoration: none;
}

.page-footer{
    color: white;
    background-color: #2B2929;

    left: 0;
    bottom: 0;
    text-align: center;

    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.card-login{
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #6A6969;
    background-clip: border-box;
    color: white;
    border-bottom-left-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: -2;
}

.card-header-login {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: #363535;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-custom{
    color: #fff;
    background-color: #2B2929;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.form-login{

}

.checking-account{

}

.btn-custom:hover{
    color: white;
}

.btn-custom:focus{
}

.input-login::placeholder{
    color: white;
    opacity: 0.7;
}

.input-login{
    outline: none;
    color: white;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid black;
    width: 100%;
}

.input-room-name::placeholder{
    color: black;
}

.input-room-name {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    outline: none;
    color: black;
    background-color: #B2B2B2;
    border-color: #323232;
    border-radius: 0.25rem;
}


.create-room {
    margin: 10px;
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    padding: 10px 86px;
    font-size: 25px;
}

.create-room:hover {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
}

.create-room:focus,
.create-room.focus {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}


.join-room {
    margin: 10px;
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    padding: 10px 102px;
    font-size: 25px;
}

.join-room:hover {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
}

.join-room:focus,
.join-room.focus {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.rooms{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    max-height: 40px;
}

.join-text{
    font-size: 25px;
    color: white;
    background-color: transparent;
}

.rooms-body{
    background-color: #B8B8B8;


}

.room-name{
    margin: 10px;
    color: white;
    background: #615E5D;
}

.home-logo{
    margin: 0 auto;
    max-height: 300px;
}

.show-rooms{
    overflow-y: scroll;
    max-height: auto;

}

.room-block{
}

.room-name-li{
    font-size: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
}
