* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #505050;
}

body::-webkit-scrollbar {
    width: 0.75em;
    background-color: transparent;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: #232323;
    outline: 1px solid slategrey;
    border-radius: 38px;
}

.chat::-webkit-scrollbar {
    width: 0.75em;
    background-color: transparent;
}

.chat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.chat::-webkit-scrollbar-thumb {
    background-color: #2b2929;
    outline: 1px solid slategrey;
    border-radius: 38px;
}

.show-players::-webkit-scrollbar {
    width: 0.75em;
    background-color: transparent;
}

.show-players::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.show-players::-webkit-scrollbar-thumb {
    background-color: #2b2929;
    outline: 1px solid slategrey;
    border-radius: 38px;
}

.btn {
    outline: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:focus,
.btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.btn:hover {
    outline: none;
    color: white;
    text-decoration: none;
}

.collapse {
    padding: 0px 20px;
}

.navbar-logo img {
    width: 160px;
}

.nav-link {
    padding: 20px 0px;
}

.navbar-brand {
    padding: 0px;
}

.navbar {
    padding: 0px;
    z-index: 9999;
    box-shadow: 0 2px 8px -2px rgba(0, 0, 0, .2);


}

.bg-custom {
    background-color: #323232;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark:hover .navbar-nav .nav-link {
    color: white;
}

.nav-item:hover {
    background-color: #707070;
}

.nav-item {
    color: white;
    display: inline-block;
    text-align: center;
    vertical-align: middle;;
    font-size: 0.9rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav-item:hover {
    text-decoration: none;
}

.nav-item:active {
    text-decoration: none;
}

.page-footer {
    color: white;
    background-color: #2B2929;

    left: 0;
    text-align: center;

    position: fixed; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.card-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #6A6969;
    background-clip: border-box;
    color: white;
    border-radius: 25px 0 0 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    z-index: 9999;
    box-shadow: -6px 3px 6px rgba(0, 0, 0, 0.39);
}

.card-header-login {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: white;
    background-color: #363535;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 25px 0 0 0;
}

.btn-custom {
    color: #fff;
    background-color: #2B2929;
    text-decoration: none;
    text-align: center;
    width: 100%;
}

.degImage {
    display: inline-block;
    position: relative;
    width: 100%;
}

.degImage img {
    position: relative;
    z-index: 1;
    width: 100%;
}

.degImage:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 100%;
    height: 100px;
    bottom: 4px;
}

.container_register {
    overflow: hidden;
}

.container_login {
    overflow: hidden;
}

.box {
    position: relative;
    z-index: 1000;
    width: 50%;
    float: right;
}


.box div {
    background-size: cover;
    width: 28vw;
    height: 42.8vw;
    /* display: block; */
    /* background-color: #363535; */
    right: 0;
    top: 0px;
    left: 26vw;
    transform: rotate(0deg);
    /* overflow: hidden; */
}

.box:before {
    content: "";
    position: absolute;
    top: -85px;
    bottom: -50px;
    left: -21px;
    right: 225px;
    overflow: hidden;
    z-index: 999;
    transform: rotate(-16deg);
    background: linear-gradient(to bottom right, transparent 50%, rgb(51, 51, 51) 50.1%);
}

.login-bolletjes {
    width: 480px;
    margin: 1vw 0;
}

.box_2 {
    position: absolute;
    background: rgb(51, 51, 51);
}

.text-adjustment {
    letter-spacing: 0.09vw;
}

.btn-custom:hover {
    color: white;
}

.btn-custom:focus {
}

.input-login::placeholder {
    color: white;
    opacity: 0.7;
}

.input-login {
    outline: none;
    color: white;
    background-color: transparent;
    border: transparent;
    border-bottom: 2px solid black;
    width: 100%;
}

.input-room-name::placeholder {
    color: black;
}

.input-room-name {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    outline: none;
    color: black;
    background-color: #B2B2B2;
    border-color: #323232;
    border-radius: 0.25rem;
}


.create-room {
    margin: 10px;
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    padding: 10px 86px;
    font-size: 25px;
}

.create-room:hover {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
}

.create-room:focus,
.create-room.focus {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}


.join-room {
    margin: 10px;
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    padding: 10px 102px;
    font-size: 25px;
}

.join-room:hover {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
}

.join-room:focus,
.join-room.focus {
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.rooms {
    position: relative;
    display: flex;
    /*flex-direction: column;*/
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    max-height: 40px;
}

.container-explanation {
    margin-top: 10vw;
}

.join-text {
    font-size: 25px;
    color: white;
    background-color: #343030;
    height: 50px;
    border-radius: 20px 20px 0 0;
    margin: 30px 0 0 0;
    text-align: center;
}

.join-text p {
    padding-top: 5px;
}

.rooms-body {
    background-color: #B8B8B8;
}

.room-name {
    margin: 10px;
    color: white;
    background: #615E5D;
}

.home-rooms {
    display: inline-block;
    margin: 0 20px 0 0;
}

.background-rooms {
    width: 100%;
    border-radius: 0 0 20px 20px;
}

.background-room {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 0.7s box-shadow;
}

.background-room:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.5);
    background-color: #6b6b6b;
    cursor: pointer;
}

.in-game {
    width: auto;
}


.home-logo {
    margin: 0px auto 0px auto;
    max-height: 250px;
    display: block;
}

.home-bolletjes {
    position: absolute;
    margin-top: -6rem;
    z-index: -1;
}

.explanation-text {
    line-height: 30px;
    text-shadow: 0 3px 6px black;
}

/*overflow-y: scroll;*/
.explanation-text-nospace {
    line-height: normal;
}

.btn-explanation {
    margin: 10px 10px 10px 0;
    color: #fff;
    background-color: #2B2929;
    border-color: #2B2929;
    padding: 5px 50px;
    font-size: 17px;
}

.btn-explanation:hover {
    color: #fff;
    background-color: #000000;
    border-color: #ffffff;
}

.btn-container-explanation {
    margin-bottom: 10vw;
}

.show-rooms {
    overflow-y: scroll;
    /*max-height: auto;*/
}

.room-block {
}

.room-name-li {
    margin-right: -15px;
    font-size: 20px;
    text-align: center;
    color: white;
    list-style-type: none;
}

.chat {
    position: relative;
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #727272;
    width: 842px;
    max-width: 842px;
}

.message {
    left: 15px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    padding: 10px 20px;
    border-radius: 25px;

    background: #414141;
    color: white;
}

.message:before, .message:after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 20px;
}


.message:before {
    left: -7px;
    border-left: 20px solid #414141;
    border-bottom-right-radius: 16px 14px;
    transform: translate(0, -2px);
}

.message:after {
    left: 4px;
    width: 26px;
    background: #727272;
    border-bottom-right-radius: 10px;
    transform: translate(-30px, -2px);
}

.send-message {
    background-color: #606060;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem 0px 22px 0px;
    width: 904px;
    max-width: 842px;
}


.input-message {
    color: white;
    border: none;
    outline: none;
    background: transparent;
}

.input-message::placeholder {
    color: white;
    margin-left: 10px;
}


.btn-send-button {
    background-color: #323232;
    color: white;
    border-color: #323232;
    outline: none;
    position: inherit;
    float: right;

    padding: 25px 41px;
    margin-top: -22px;
    border-radius: 0px;
}

.start-game {
    width: 1141px;
    background-color: #2B2929;
    color: white;
    border-color: #2B2929;
    outline: none;
    position: absolute;
}

.show-players {
    position: relative;
    min-height: 500px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #727272;
    width: 298px;
    max-width: 298px;
    border-right: 1px solid white;
}

.players-in-lobby {
    color: white;
    text-align: center;
    background-color: #606060;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem 0px;
    width: 298px;
    max-width: 298px;
    border-right: 1px solid white;
}

/*this is for the in lobby layout*/
.in-lobby .message {
    left: 62px;
}

.in-lobby .input-message {
    width: 100%;
}

/*end of lobby layout*/
/*for lobby and in game*/
.message-container:first-child {
    margin-top: 10px;
}
.modal-body {
    background-color: #171616;
}
.modal-footer {
    background-color: #171616;
}
.modal-footer button {
    background-color: #d0211c;
}
.winner {
    margin: 0 auto;
    display: block;
    margin-top: 70px;
}
.section-heading {
    font-size: 120px;
    color:#AF2E2E;
}
.time {
    margin: -23px 0px 0px 10px;
    font-size: 10px;
    float: left;
    color: white;
    border-bottom: 1px solid #fff;
    bottom: 0;
}

/*end of for lobby and in game*/
/*this is for the in game layout*/
.bg-board {
    background-color: #454545;
    max-width: none;
    border-left: 0px solid #ffffff;
}

.in-game {
    width: 100%;
    margin-left: -15px;
}

.col-wrap {
    padding-right: 0;
}

.in-game .show-players {
    max-width: none;
    width: 107%;
    min-height: 500px;
    max-height: 500px;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
}

.in-game .players-in-lobby {
    max-width: none;
    height: 45px;
    width: 113%;
    max-height: none;
    border: none;
}

.in-game .players-in-lobby h4 {
    font-size: 20px;
    margin: -9px 7px 0 0;
}

.player-name-block {
    margin: 0 0 0 -26px;
    width: 106%;
    height: 45px;
    background-color: #828282;
    max-width: none;

}

.in-game .show-players .player-name {
    font-size: 18px;
    height: 100%;
    max-height: 100%;
    left: 0;
    margin-top: 10px;
    padding: 0;
}

.president-container {
    font-size: 8px;
    margin: 0 0 0 3px;
}

.president-container-p {
    font-size: 12px;
    margin: -3px 0 0px -10px;
}

.bg-board .board-section {
    max-height: 500px;
    height: 500px;
    padding: 1%;
    text-align: center
}
.modal-dialog-full-width {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    max-width:none !important;

}


.modal-content-full-width  {
    height: auto !important;
    min-height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important
}

.modal-header-full-width  {
    border-bottom: 1px solid #9ea2a2 !important;
}

.modal-footer-full-width  {
    border-top: 1px solid #9ea2a2 !important;
}
.name-of-room {
    padding-top: 3px;
    color: #ffff;
    font-size: 20px;
}

.in-game .chat {
    max-width: none;
    width: 103%;
    min-height: 500px;
    max-height: 500px;
}

.in-game .message {
    padding: 14px 35px;
    font-size: 14px;
    line-height: 20px;
    left: 64px;
}

.message-container:first-child {
    margin-top: 10px;
}

.in-game .send-message {
    height: 45px;
    max-width: none;
    width: 103%;
    max-height: none;
}

.in-game .send-message .btn-send-button {
    margin: -7px 0 0 0;
    font-size: 14px;
    padding: 9.8px 35px;
}

.in-game .send-message .input-message::placeholder {
    color: white;
    margin-left: 10px;
    margin-top: -10px;
}

.in-game .send-message form {
    margin-top: -12px;
    font-size: 12px;
}

.in-game .text-white {
    margin: 0;
    display: unset;
    display: unset;
}

.in-game .input-message {
    margin: 5px 0 0 10px;
    width: 56%;
}

.row-under {
    height: 307px;
}

.bg-grey {
    background-color: #9A9A9A;
}

.bg-dark-grey {
    background-color: #4b4b4b;
    border-left: 0px solid #ffffff;
    padding: 0;
}

.player-name-div {
    position: relative;
    padding: 5px;
    background-color: #929292;
    color: white;
    border-bottom: 1px solid white;
    /*overflow: hidden;*/
}

.is-killed {
    background:rgba(255,3,0,0.39);
}
.is-killed p {
    opacity: 0.3;
}
.is-killed .president-container{
    opacity: 0.3;
}
.is-killed  img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    opacity: 0.3;
}

.is-killed-icon {
    position: absolute;
    right: 0;
    top: 30%;
    width: 50px;
    font-size: 23px;
    text-align: center;
}

.player-name-div p {
    text-align: left;
}

.player-name-div img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
}

.both-sides {
    top: 14px;
    right: 50px;
    left: 50px;
    position: absolute;
}

.header-choose-chancellor {
    background-color: #464444;
    color: white;
    height: 40px;
}

.header-choose-chancellor p {
    text-align: center;
    font-size: 18px;
    padding: 0 5px 0 5px;
}

.header-choose-chancellor .under-title {
    font-size: 10px;
    padding: 0;
    margin: -21px 0 0 0;
}

div.options {
    background-color: #606060;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    opacity: 35%;
}

.active {
    opacity: 100% !important;
}

.active .container-choose-chancellor {
    font-weight: bold;
}

div.options > .container-choose-chancellor > input {
    visibility: hidden;
}

.container-choose-chancellor #text {
    margin-left: 10px;
}

div.options > .container-choose-chancellor {
    display: block;
    margin: 0 0 0 -13px;
    padding: 0 0 39px 0;
    height: 20px;
    width: 250px;
}

div.options > .container-choose-chancellor > img {
    display: inline-block;
    padding: 0px;
    height: 40px;
    width: 40px;
    background-color: #4B4B4B;
    border: none;
    margin-right: 12px;
}

div.options > .container-choose-chancellor > input:checked + img {
    background: url("../images/check.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
    border: none;
    background-color: #C2C2C2;
}

div.options > input:checked + .container-choose-chancellor{
    background-color: #C2C2C2;
}
.btn-chancellor {
    margin: 0;
    padding: 11px 18px;
    font-size: 10px;
    float: right;
}
    /*end of layout in game*/

.player-name {
    margin-bottom: 0px;
    font-size: 20px;
    color: white;
    padding: 0px;
}

.room-info {
    width: 1239px;
    max-width: 1239px;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 0px;
    color: white;
    background-color: #606060;
}

.room-name {
    display: inline;
}

.player-count {
    float: right;
    display: inline;
    margin-bottom: 0px;
}

.height-for-start-button {
    margin-top: 10vw;
}

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {

    .join-room {
        width: 300px!important;
        padding: 0px;
    }
    .create-room {
        width: 300px;
        padding: 0px;
    }
    .box div {
        height: 40.9vw;
        left: 27vw;

    }

    .box:before {
        left: 47px;
        right: 207px;
        transform: rotate(-8deg);
    }

    .checking-account {
        font-size: 0.85vw;
    }

    .login-bolletjes {
        width: 41%;
    }

    /*this is for the in game layout*/
    .in-game .show-players {
        width: 108.9%;
    }

    .in-game .players-in-lobby {
        width: 117.9%;
    }

    .player-name-block {
        margin: 0 0 0 -14.5px;
    }

    .name-of-room {
        padding-top: 11px;
        font-size: 16px;
    }

    .in-game .chat {
        width: 105.2%;
        max-width: 105.2%;
    }

    .in-game .message {
        padding: 9px 13px;
        font-size: 10px;
        line-height: 19px;
    }

    .in-game .send-message {
        width: 105.2%;
    }

    .in-game .send-message .btn-send-button {
        margin: -12px 0 0 0;
        font-size: 12px;
        padding: 13px 20px;
    }

    .in-game .input-message {
        margin: 4px 0 0 10px;
    }

    .in-game .send-message form {
        margin-top: -10px;
    }

    /*end of layout in game*/
}
.choosePolicies {
    text-align: center;
}
.choosePolicies img {
    margin: 10px;
    transition: .1s;
    width: 15%;
    height: 15%;
}.choosePolicies img:hover {
    filter: brightness(0.8);
    cursor: pointer;
}
/*// Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    .input-room-name {
        text-align: center;
        width: 230px;
    }
    .join-room {
        width: 205px!important;
        padding: 0px;
    }
    .create-room {
        width: 205px;
        padding: 0px;
    }
    .box div {
        display: none;
    }

    .box:before {
        display: none;
    }

    .card-login {
        z-index: -2;
        border-radius: 25px;
    }

    .card-header-login {
        border-radius: 25px 25px 0 0;
    }

    .input-login {
        width: 100%;
    }

    .btn-custom {
        width: 46%;
        height: 2.5vw;
        padding: 0.005rem;
        font-weight: 100;
        font-size: 1.3vw;
    }

    .btn-container {
        width: 215%;
    }

    .text-adjustment {
        width: 42%;
        height: 2.5vw;
        padding: 0.29rem 0.29rem 0.29rem 0;
        font-size: 0.9vw;
        text-align: left !important;

    }

    .login-bolletjes {
        width: 52%;
    }

    /*this is for the in game layout*/
    .in-game .show-players {
        width: 112.6%;
    }

    .in-game .players-in-lobby {
        width: 122.6%;
    }

    .in-game .players-in-lobby h4 {
        font-size: 17px;
        margin: -7px 10px 0 0;
    }

    .in-game .show-players .player-name {
        font-size: 14px;
    }

    .in-game .chat {
        width: 106.5%;
        max-width: 106.5%;
    }

    .in-game .send-message {
        width: 106.5%;
    }

    .in-game .send-message .btn-send-button {
        padding: 12.2px 12px;
    }

    .player-name-div img {
        height: 100%;
        width: 47px;
    }
    .president-container {
        font-size: 6px;
        margin: -6px 0 0 2px;
    }
    .president-container-p{
        font-size: 7.8px;
        margin: -6px 0 0px -16px;
    }
}

/*// Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    .join-room {
        width: 145px!important;
    }
    .create-room {
        width: 155px;
    }
    .input-room-name {
        width: 170px;
    }
    .home-bolletjes {
        margin-top: -3rem;
    }
    .home-logo {
        margin: 0px;
        max-height: 200px;
    }
    .card-login {
        top: 30%;
        height: 26%;
        width: 400px;
    }
    .btn-container {
        width: 100%;
    }
    .btn-custom {
        width: 100%;
    }
    .card-header-login {
        font-size: 1.4vw;
    }

    .text-adjustment {
        font-size: 0.86vw;
    }

    .login-bolletjes {
        width: 20%;
    }

    /*this is for the in game layout*/
    .in-game .show-players {
        width: 119%;
    }

    .in-game .players-in-lobby {
        width: 131%;
    }

    .in-game .players-in-lobby h4 {
        font-size: 13px;
        margin-top: -5px;
    }

    .in-game .chat {
        width: 108.2%;
        max-width: 108.2%;
    }

    .in-game .send-message .btn-send-button {
        padding: 12.2px 10px;
    }

    .in-game .send-message {
        width: 108.2%;
    }

    .in-game .show-players .player-name {
        font-size: 10px;
    }

    .player-name-div img {
        height: 100%;
        width: 37px;
    }
    .president-container {
        font-size: 5px;
        margin: -1px 0 0 3px;
    }
    .president-container-p{
        font-size: 5.8px;
        margin: -1px 0 0px -16px;
    }

    .header-choose-chancellor p {
        text-align: center;
        font-size: 12px;
        padding: 11px;
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .card-login {
        height: 23% !important;
        width: 300px!important;
    }
    .input-room-name {
        width: 250px;
    }
    .home-bolletjes {
        width: 100%;
    }
    .home-logo {
        margin: 0 auto!important;
        width: 100%;
    }
    .join-room {
        width: 250px!important;
    }
    .create-room {
        width: 250px;
    }
    .form-group {
        margin-bottom: 0.3rem;
    }

    .card-login {
        height: 50%;
    }

    .card-body {
        padding: 0.55rem;
    }

    .input-login {
        height: 20px;
    }

    .login-bolletjes {
        width: 18%;
    }

    /*this is for the in game layout*/
    .in-game .send-message .btn-send-button {
        padding: 12.2px 0px;
    }

    .in-game .show-players {
        width: 123%;
    }

    .in-game .players-in-lobby {
        width: 146%;
    }

    .in-game .chat {
        width: 111.2%;
        max-width: 111.2%;
    }

    .in-game .send-message {
        width: 111.2%;
    }

    .player-name-div img {
        height: 100%;
        width: 27px;
    }
    .president-container {
        font-size: 3px;
        margin: -1px 0 0 1px;
    }
    .president-container-p{
        margin: -8px 0 0px 10px;
    }
}

@media (min-width: 1620px) and (max-width: 2051px) {
    .box div {
        height: 43.9vw;
    }

    .box:before {
        left: -20px;
        right: 274px;
    }

    .login-bolletjes {
        width: 480px;
    }

    .both-sides {
        top: 20px;
        right: 200px;
        left: 200px;
    }
}

@media (min-width: 2052px) and (max-width: 2732px) {
    .box div {
        height: 44.3vw;
    }

    .box:before {
        left: -25px;
        right: 424px;
    }

    .login-bolletjes {
        width: 26%;
    }

    .both-sides {
        top: 12px;
        right: 400px;
        left: 400px;
        position: absolute;
    }
}

@media (min-width: 2733px) and (max-width: 4102px) {
    .box div {
        height: 45vw;
    }

    .box:before {
        left: -25px;
        right: 462px;
    }

    .login-bolletjes {
        width: 27%;
    }

    .both-sides {
        top: 12px;
        right: 800px;
        left: 800px;
        position: absolute;
    }
}

@media (min-width: 4103px) and (max-width: 5464px) {
    .box div {
        height: 45.7vw;
    }

    .box:before {
        left: -30px;
        right: 741px;
    }

    .login-bolletjes {
        width: 28%;
    }

    .both-sides {
        top: 12px;
        right: 1200px;
        left: 1200px;
        position: absolute;
    }
}


@media (min-width: 5465px) and (max-width: 6825px) {
    .box div {
        height: 45.8vw;
    }

    .box:before {
        bottom: -189px;
        left: -965px;
        right: 235px;
        transform: rotate(-32deg);
    }

    .login-bolletjes {
        width: 28%;
        margin: 1vw 0;
    }
}

.chose-cards{
    opacity: 0.6;
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
    width: 30%;
    height: auto;
    cursor: pointer
}

.chose-cards:hover{
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    /*display: block;*/
    width: 30%;
    height: auto;
    cursor: pointer
}

.highlight {
    background-size: 400% 400%;
    animation: highlight 0.7s ease infinite;
}

@keyframes highlight {
    0%{
        background: #f1f1f1;
    }
    100% {
        background: none;
    }
}

.truth-button{
    margin: 10px;
    background-color: #2D2929;
    color: white;
    border: 1px solid white;
    width: 20%;
    height: 200%;
    border-top-right-radius: 35px 35px;
    border-bottom-left-radius: 35px 35px;
    font-size: 30px;
}

.bluff-button{
    background-color: #2D2929;
    color: white;
    border: 1px solid white;
    width: 20%;
    height: 200%;
    border-top-left-radius: 35px 35px;
    border-bottom-right-radius: 35px 35px;
    font-size: 30px;
}

.truth-button:hover{
    margin: 10px;
    background-color: #000000;
    color: white;
    border: 1px solid white;
    width: 20%;
    height: 200%;
    border-top-right-radius: 35px 35px;
    border-bottom-left-radius: 35px 35px;
    font-size: 30px;
}

.bluff-button:hover{
    background-color: #000000;
    color: white;
    border: 1px solid white;
    width: 20%;
    height: 200%;
    border-top-left-radius: 35px 35px;
    border-bottom-right-radius: 35px 35px;
    font-size: 30px;
}

.container-bluff-truth{
    text-align: center;
    height: 100%;
}

.middle-line{
    border-right: 2px solid #828282;
}

.president-choosed .header-choose-chancellor{
    margin: 0 -7px 0 0;
}

.answer-images{
    width: 15%;
    height: auto;
}

.answer-chancellor-images{
    width: 15%;
    height: auto;
}

.centered-options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-role{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
